<div class="container">
    <div class="heroe" *ngIf="heroeBorrado !== ''; else noBorrado">
        <h3 class="list-heroes">Heroe Borrado</h3>
        <span>Heroe Borrado:{{heroeBorrado}}</span>
    </div>
    <ng-template #noBorrado>
        <span>No ha borrado nada...</span>
    </ng-template>



    <h2 class="list-heroes">Listado de Heroes</h2>
    <ul>
        <li *ngFor="let heroe of heroes; let i = index  ">
            {{i + 1}}. {{heroe}}
        </li>
    </ul>
    <div class="btn-heroe">
        <button (click)=" borrarElemento()">Borrar Heroe</button>
    </div>

</div>