* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html,
body {
  background: white;
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}

dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus {
  outline: none;
}

.p-1 {
  padding: 1px;
}
.base {
  font-weight: bold;
}

.div-contador {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
}
.div-contador h1 {
  padding: 0;
  margin: 0;
}
.titulo {
  text-align: center;
  font-weight: bold;
}
.tabla {
  text-align: center;
  border: solid 1px grey;
  margin: 10px auto;
}
.tabla thead tr th {
  padding: 15px;
  font-weight: bold;
}
.tabla tbody tr td {
  padding: 15px;
}
.div-btn {
  text-align: center;
  margin-top: 30px;
}
