<div class="col">
    <h3>Agregar</h3>
    <hr>
    <form action="POST" class="inputs" (ngSubmit)="validar()">

        <input class="input" type="text" placeholder="Agrega nombre del personaje" name="nombre"
            [(ngModel)]="nuevo.nombre">
        <!--[value]="nuevo.nombre"
                (blur)="cambiarNombre($event)"-->
        <input class="input" type="number" placeholder="Nivel de poder del personaje" min="0" name="poder"
            [(ngModel)]="nuevo.poder">
        <button type="submit">Agregar</button>
        <p class="alert-danger font-weight-bold">{{mensaje}}</p>
    </form>
</div>